* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  font-family: "Times New Roman", Times, serif;
  height: 100vh;
  width: 100vw;
  /* background-image: url(./Wallpaper\ 4k.jpeg); */
}

.logo-img {
  box-shadow: 1px 1px 12px #000;
}

.nav-link {
  color: white;
  font-family: "Times New Roman", Times, serif;
}

.form-control {
  box-shadow: 1px 1px 12px #000;
}

.nav-btn {
  box-shadow: 1px 1px 12px #000;
}

.nav-link:hover {
  color: rgba(228, 228, 228, 0.774);
}

.offcanvas-header {
  background-color: #040452;
}

/* Toogler - Button */
#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 30px;
  cursor: pointer;
  margin: auto;
  display: block;
  height: calc(4px * 3 + 11px * 2);
}

.bar {
  position: absolute;
  left: 0;
  right: 0;
  height: 4px;
  border-radius: calc(4px / 2);
  background: black;
  color: inherit;
  opacity: 1;
  transition: none 0.35s cubic-bezier(0.5, -0.35, 0.35, 1.5) 0s;
}

/* Tornado Animation */

.bar--top {
  bottom: calc(50% + 11px + 4px / 2);
  transition-property: bottom, transform;
  transition-delay: calc(0s + 0.35s) * 0.6;
}

.bar--middle {
  top: calc(50% - 4px / 2);
  transition-property: opacity, transform;
  transition-delay: calc(0s + 0.35s * 0.3);
}

.bar--bottom {
  top: calc(50% + 11px + 4px / 2);
  transition-property: top, transform;
  transition-delay: 0s;
}

#checkbox:checked + .toggle .bar--top {
  transform: rotate(-135deg);
  transition-delay: 0s;
  bottom: calc(50% - 4px / 2);
}

#checkbox:checked + .toggle .bar--middle {
  opacity: 0;
  transform: rotate(-135deg);
  transition-delay: calc(0s + 0.35s * 0.3);
}

#checkbox:checked + .toggle .bar--bottom {
  top: calc(50% - 4px / 2);
  transform: rotate(-225deg);
  transition-delay: calc(0s + 0.35s * 0.6);
}
/* Set video as background */

.video-bg {
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  object-fit: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.navbar-custom,
.offcanvas {
  background-color: teal;
}

/* Content that follows the video */
.content-after-video {
  margin-top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px;
}

/* mobile card */
.card {
  text-align: center;
  background: rgb(0, 0, 0);
  border: 2px solid skyblue;
  border-radius: 15px;
  position: relative;
  padding: 5px;
  transition: all 1s ease;
  color: antiquewhite;
  overflow: hidden;
}

.card__date {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.popup {
  box-shadow: 1px 1px 12px #000;
}

.card__date,
.popup {
  opacity: 0;
  transition: all 0.5s ease;
}

.card:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 10px 10px teal;
}

.card:hover .card__date,
.card:hover .popup {
  opacity: 1;
}

/* All Cards */

.main-cards {
  padding: 20px;
  background-color: white;
  color: black;
  border-radius: 10px;
  box-shadow: 1px 1px 12px #000;
  transition: transform 0.3s, box-shadow 0.3s;
}

.main-cards:hover {
  transform: translate(-5px, -5px);
  box-shadow: 5px 5px 5px 5px;
}

.main-cards__title {
  font-size: 32px;
  font-weight: 900;
  color: teal;
  text-transform: uppercase;
  margin-bottom: 15px;
  display: block;
  position: relative;
  overflow: hidden;
}

.main-cards__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  height: 3px;
  background-color: rgb(45, 77, 62);
  transform: translateX(-100%);
  transition: transform 0.3s;
}

.main-icon:hover {
  visibility: hidden;
  transition: opacity 0;
}

.main-cards:hover .main-cards__title::after {
  transform: translateX(0);
}

/* pin machine */

.pin-container {
  display: flex;
  position: relative;
  border-radius: 6px;
  /* box-shadow: 1px 1px 12px #000; */
  transition: 0.3s ease-in-out;
}

.pin-container:hover {
  transform: scale(1.03);
}

.pin-container:hover .left-side {
  width: 100%;
}

.left-side {
  background-color: #5de2a3;
  width: 130px;
  height: 120px;
  border-radius: 4px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  flex-shrink: 0;
  overflow: hidden;
}

.right-side {
  width: calc(100% - 130px);
  display: flex;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  justify-content: space-between;
  white-space: nowrap;
  transition: 0.3s;
}

.right-side:hover {
  background-color: #f9f7f9;
}

.arrow {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.new {
  font-size: 23px;
  font-family: "Lexend Deca", sans-serif;
  margin-left: 20px;
}

.pin-card {
  width: 70px;
  height: 46px;
  background-color: teal;
  border-radius: 6px;
  position: absolute;
  display: flex;
  z-index: 10;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 12px #000;
  /* -webkit-box-shadow: 9px 9px 9px -2px rgba(77, 200, 143, 0.72);
      -moz-box-shadow: 9px 9px 9px -2px rgba(77, 200, 143, 0.72);
      -webkit-box-shadow: 9px 9px 9px -2px rgba(77, 200, 143, 0.72); */
}

.pin-card-line {
  width: 65px;
  height: 13px;
  background-color: black;
  border-radius: 2px;
  margin-top: 7px;
}

@media only screen and (max-width: 480px) {
  .pin-container {
    transform: scale(0.7);
  }

  .pin-container:hover {
    transform: scale(0.74);
  }

  .new {
    font-size: 18px;
  }
}

.pin-buttons {
  width: 8px;
  height: 8px;
  background-color: white;
  box-shadow: 0 -10px 0 0 rgb(2, 255, 2), 0 10px 0 0 orangered;
  border-radius: 50%;
  margin-top: 5px;
  transform: rotate(90deg);
  margin: 10px 0 0 -30px;
}

.pin-container:hover .pin-card {
  animation: slide-top 1.2s cubic-bezier(0.645, 0.045, 0.355, 1) both;
}

.pin-container:hover .pin-post {
  animation: slide-post 1s cubic-bezier(0.165, 0.84, 0.44, 1) both;
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-70px) rotate(90deg);
    transform: translateY(-70px) rotate(90deg);
  }

  60% {
    -webkit-transform: translateY(-70px) rotate(90deg);
    transform: translateY(-70px) rotate(90deg);
  }

  100% {
    -webkit-transform: translateY(-8px) rotate(90deg);
    transform: translateY(-8px) rotate(90deg);
  }
}

.pin-post {
  width: 63px;
  height: 75px;
  background-color: #dddde0;
  position: absolute;
  z-index: 11;
  bottom: 10px;
  top: 120px;
  border-radius: 6px;
  overflow: hidden;
}

.pin-post-line {
  width: 47px;
  height: 9px;
  background-color: #545354;
  position: absolute;
  border-radius: 0px 0px 3px 3px;
  right: 8px;
  top: 8px;
}

.pin-post-line:before {
  content: "";
  position: absolute;
  width: 47px;
  height: 9px;
  background-color: black;
  top: -8px;
}

.pin-screen {
  width: 47px;
  height: 23px;
  background-color: #ffffff;
  position: absolute;
  top: 22px;
  right: 8px;
  border-radius: 3px;
}

.pin-numbers {
  width: 12px;
  height: 12px;
  background-color: #838183;
  box-shadow: 0 -18px 0 0 #838183, 0 18px 0 0 #838183;
  border-radius: 2px;
  position: absolute;
  transform: rotate(90deg);
  left: 25px;
  top: 52px;
}

.pin-numbers-line2 {
  width: 12px;
  height: 12px;
  background-color: #aaa9ab;
  box-shadow: 0 -18px 0 0 #aaa9ab, 0 18px 0 0 #aaa9ab;
  border-radius: 2px;
  position: absolute;
  transform: rotate(90deg);
  left: 25px;
  top: 68px;
}

@keyframes slide-post {
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-70px);
    transform: translateY(-70px);
  }
}

.dollar {
  position: absolute;
  font-family: "Times New Roman", Times, serif;
  width: 100%;
  left: 0;
  top: 0;
  color: black;
  text-align: center;
}

.pin-container:hover .dollar {
  animation: fade-in-fwd 0.3s 1s backwards;
}

@keyframes fade-in-fwd {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.submission-details {
  color: teal;
}

.submit-date {
  color: teal;
}

.books
    /* From Uiverse.io by SouravBandyopadhyay */
    .event-card-title {
  color: #262626;
  line-height: normal;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.small-desc {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  color: #452c2c;
}

.small-desc {
  font-size: 1em;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 2em;
  height: 2em;
  overflow: hidden;
  top: 0;
  right: 0;
  /* background: linear-gradient(135deg, #6293c8, #384c6c); */
  background-color: black;
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

.event-card {
  display: block;
  position: relative;
  max-width: 300px;
  /* max-height: 320px; */
  background-color: #f2f8f9;
  border-radius: 10px;
  padding: 2em 1.2em;
  margin: 12px;
  text-decoration: none;
  box-shadow: 1px 1px 12px #000;
  z-index: 0;
  overflow: hidden;
  /* background: linear-gradient(to bottom, #c3e6ec, #a7d1d9); */
  background-color: teal;
  font-family: "Times New Roman", Times, serif;
}

.event-card:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  /* background: linear-gradient(135deg, #364a60, #384c6c); */
  background-color: orangered;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 2.3s ease-out;
}

.event-card:hover:before {
  transform: scale(34);
}

.event-card:hover .small-desc {
  transition: all 0.5s ease-out;
  color: rgba(255, 255, 255, 0.8);
}

.event-card:hover .event-card-title {
  transition: all 0.5s ease-out;
  color: #ffffff;
}

/* sponsers */
.books {
  border-radius: 10px;
  width: 100;
  height: 200px;
  background-color: whitesmoke;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
}

.covers {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  background-color: teal;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
  transform-origin: 0;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.books:hover .covers {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-80deg);
  background-color: rgba(108, 230, 230, 0.178);
}

.sponser-1,
.sponser-2,
.sponser-3,
.sponser-4 {
  border-radius: 10px;
}

/* footer */

.footer .parent {
  width: 18rem;
  height: 18rem;
  overflow: hidden;
}

.reach-us-card {
  height: 100%;
  width: 100%;
  border-radius: 50px;
  background: linear-gradient(135deg, rgb(42, 43, 46) 0%, teal 100%);
  transition: all 0.5s ease-in-out;
  transform-style: preserve-3d;
  box-shadow: rgba(5, 71, 17, 0) 40px 50px 25px -40px,
    rgba(5, 71, 17, 0.2) 0px 25px 25px -5px;
}

.glass {
  transform-style: preserve-3d;
  position: absolute;
  inset: 8px;
  border-radius: 55px;
  border-top-right-radius: 100%;
  background: linear-gradient(
    0deg,
    rgba(30, 27, 27, 0.349) 0%,
    rgba(255, 255, 255, 0.815) 100%
  );
  /* -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px); */
  transform: translate3d(0px, 0px, 25px);
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  transition: all 0.5s ease-in-out;
}

.content {
  padding: 100px 60px 0px 30px;
  transform: translate3d(0, 0, 26px);
}

.content .title {
  display: block;
  color: white;
  font-weight: 900;
  font-size: 20px;
}

.content .text {
  display: block;
  color: white;
  font-size: 15px;
  margin-top: 20px;
}

.bottom {
  padding: 10px 12px;
  transform-style: preserve-3d;
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translate3d(0, 0, 26px);
}

.bottom .view-more {
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: flex-end;
  transition: all 0.2s ease-in-out;
}

.bottom .view-more:hover {
  transform: translate3d(0, 0, 10px);
}

.bottom .view-more .view-more-button {
  background: none;
  border: none;
  color: white;
  font-weight: bolder;
  font-size: 12px;
}

.bottom .view-more .svg {
  fill: none;
  stroke: white;
  stroke-width: 3px;
  max-height: 15px;
}

.bottom .social-buttons-container {
  display: flex;
  gap: 10px;
  transform-style: preserve-3d;
}

.bottom .social-buttons-container .social-button {
  width: 30px;
  aspect-ratio: 1;
  padding: 5px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  border: none;
  display: grid;
  place-content: center;
  box-shadow: rgb(1, 250, 217) 0px 7px 5px -5px;
}

.bottom .social-buttons-container .social-button:first-child {
  transition: transform 0.2s ease-in-out 0.4s, box-shadow 0.2s ease-in-out 0.4s;
}

.bottom .social-buttons-container .social-button:nth-child(2) {
  transition: transform 0.2s ease-in-out 0.6s, box-shadow 0.2s ease-in-out 0.6s;
}

.bottom .social-buttons-container .social-button:nth-child(3) {
  transition: transform 0.2s ease-in-out 0.8s, box-shadow 0.2s ease-in-out 0.8s;
}

.bottom .social-buttons-container .social-button .svg {
  width: 15px;
  fill: rgb(1, 255, 255);
}

.bottom .social-buttons-container .social-button:hover {
  background: black;
}

.bottom .social-buttons-container .social-button:hover .svg {
  fill: white;
}

.bottom .social-buttons-container .social-button:active {
  background: rgb(255, 234, 0);
}

.bottom .social-buttons-container .social-button:active .svg {
  fill: black;
}

.logo {
  position: absolute;
  right: 0;
  top: 0;
  transform-style: preserve-3d;
}

.logo .circle {
  display: block;
  position: absolute;
  aspect-ratio: 1;
  border-radius: 50%;
  top: 0;
  right: 0;
  box-shadow: rgba(100, 100, 111, 0.2) -10px 10px 20px 0px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background: rgba(4, 253, 241, 0.2);
  transition: all 0.5s ease-in-out;
}

.logo .circle1 {
  width: 170px;
  transform: translate3d(0, 0, 20px);
  top: 8px;
  right: 8px;
}

.logo .circle2 {
  width: 140px;
  transform: translate3d(0, 0, 40px);
  top: 10px;
  right: 10px;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  transition-delay: 0.4s;
}

.logo .circle3 {
  width: 110px;
  transform: translate3d(0, 0, 60px);
  top: 17px;
  right: 17px;
  transition-delay: 0.8s;
}

.logo .circle4 {
  width: 80px;
  transform: translate3d(0, 0, 80px);
  top: 23px;
  right: 23px;
  transition-delay: 1.2s;
}

.logo .circle5 {
  width: 50px;
  transform: translate3d(0, 0, 100px);
  top: 30px;
  right: 30px;
  display: grid;
  place-content: center;
  transition-delay: 1.6s;
}

.logo .circle5 .top-head {
  color: white;
}

.parent:hover .reach-us-card {
  transform: rotate3d(1, 1, 0, 30deg);
  box-shadow: rgba(5, 71, 17, 0.3) 30px 50px 25px -40px,
    rgba(5, 71, 17, 0.1) 0px 25px 30px 0px;
}

.parent:hover .reach-us-card .bottom .social-buttons-container .social-button {
  transform: translate3d(0, 0, 50px);
  box-shadow: rgba(5, 71, 17, 0.2) -5px 20px 10px 0px;
}

.parent:hover .reach-us-card .logo .circle2 {
  transform: translate3d(0, 0, 60px);
}

.parent:hover .reach-us-card .logo .circle3 {
  transform: translate3d(0, 0, 80px);
}

.parent:hover .reach-us-card .logo .circle4 {
  transform: translate3d(0, 0, 100px);
}

.parent:hover .reach-us-card .logo .circle5 {
  transform: translate3d(0, 0, 120px);
}
.footer {
  bottom: 0%;
  background-color: rgb(0, 0, 0, 0.5);
  /* background: transparent; */
  z-index: -1;
}

.footer-main {
  overflow: hidden;
}

.icons {
  font-size: 50px;
  transition: transform 1.1s ease;
}

.page-icons {
  background-color: teal;
  box-shadow: 1px 1px 12px #000;
}

.icons:hover {
  transform: scale(1.3);
}

.footer-menu-items {
  color: white;
}

.footer-menu-items:hover {
  color: rgba(228, 228, 228, 0.774);
}

.media-link {
  transition: transform 0.8s;
}

.media-link:hover {
  transform: scale(1.5);
}

.loader {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
}

.loader:hover {
  transform: scale(1.5);
}
.truckWrapper {
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  overflow-x: hidden;
}
/* truck upper body */
.truckBody {
  width: 130px;
  height: fit-content;
  margin-bottom: 6px;
  animation: motion 1s linear infinite;
}
/* truck suspension animation*/
@keyframes motion {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* truck's tires */
.truckTires {
  width: 130px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px 0px 15px;
  position: absolute;
  bottom: 0;
}
.truckTires svg {
  width: 24px;
}

.road {
  width: 100%;
  height: 1.5px;
  background-color: #282828;
  position: relative;
  bottom: 0;
  align-self: flex-end;
  border-radius: 3px;
}
.road::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 100%;
  background-color: #282828;
  right: -50%;
  border-radius: 3px;
  animation: roadAnimation 1.4s linear infinite;
  border-left: 10px solid white;
}
.road::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 100%;
  background-color: #282828;
  right: -65%;
  border-radius: 3px;
  animation: roadAnimation 1.4s linear infinite;
  border-left: 4px solid white;
}

.lampPost {
  position: absolute;
  bottom: 0;
  right: -90%;
  height: 90px;
  animation: roadAnimation 1.4s linear infinite;
}

@keyframes roadAnimation {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-350px);
  }
}
